<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cocktail.photo.present? ? cl_image_path(cocktail.photo, crop: :fill) : image_path('cocktail_3.jpg') %> )">
  <div class="card-category"><%= "Cocktail n°#{cocktail.id}" %></div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
