// Specific CSS for your home-page
.custom {
  background-color: #fdffcd;
  border: 1px solid #E6E6E6;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  font-weight: lighter !important;
  font: Montserrat;
  text-align: center;
}

#lol {
  color: red;
}
