.margin {
  margin-top: 30px;
}

.banner-show {
  color: white;
  text-align: center;
  height: 40vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.min_width {
  min-height: 200px;
}

.row {
  margin-left: 50px;
}
